.main{
  padding-top: 12px;
}

.page-dashboard{min-height:73.8vh;margin-bottom:40px;}.page-dashboard .center{text-align:center;}
.bg-footer {
  background-color:  #D3D3D3	 !important;
}
.icon{
  height: 70px;
  width: auto;
}
