<h1>College</h1>

<p>This is the college component.</p>
<div *ngIf="Status" class="alert alert-success text-center" role="alert">
  {{Status}}
</div>

<div class="row">
  <div class="col-sm-4">
    <form (ngSubmit)="submit()" [formGroup]="CollegeForm" accept-charset="UTF-8" enctype="text/plain" method="post">
      <div class="input-field">
        <div class="col-md-12">

          <input autocomplete="off" class="form-control input-lg" formControlName="Name" placeholder="Name" required=""
                 type="text"/>
        </div>
        <div
          *ngIf="CollegeForm.controls['Name'].invalid && (CollegeForm.controls['Name'].dirty || CollegeForm.controls['Name'].touched)"
          class="alert-danger">
          <div *ngIf="CollegeForm.controls['Name'].errors.required">
            Name is required
          </div>
        </div>
      </div>
      <p></p>
      <div class="input-field">
        <div class="col-md-12">
          <input *ngIf="CollegeForm.valid" class="btn  btn-success" type="Submit" value="Save"/>
        </div>
      </div>
    </form>
  </div>
</div>
