<h2>Colleges</h2>
<div *ngIf="Colleges.length > 0 else elseBlock">

  <table id="dtBasicExample" class="table table-striped table-bordered table-sm table-responsive" >
    <thead>
    <tr>
      <th class="th-sm">No
      <th class="th-sm">Name
      </th>
      <th class="th-sm">Created
      </th>



    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let college of Colleges; let i = index">
      <td>{{i+1}}</td>
      <td>{{college.name|titlecase}}</td>

      <td>{{college.created|date:'medium'}}</td>


    </tr>
    </tbody>
  </table>
</div>
<ng-template #elseBlock>No Colege(s)..</ng-template>

