<div class="searchbar">
  <div class="input-group mb-4 border rounded-pill p-1">
    <input type="search" placeholder="Enter name to search menu..." aria-describedby="button-addon3"
           class="form-control bg-none border-0" ng-model="fsearch" ng-change="search()">
    <div class="input-group-append border-0">
      <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-2 col-xs-2 ng-scope" ng-repeat="menu in list">
    <a href="" class="btn " id="tab-btn">
      <img src="assets/img/ssf-report.svg" [ngStyle]="{'height': 30,'width':'auto'}" src="assets/img/ssf-report.svg">
      <span class="ng-binding">My SSF Report</span>
    </a>

  </div>


</div>

